<Layouts.app flash={@flash} current_scope={@current_scope}>
  <.header>
    Add Book to Collection
    <:subtitle>Add a new book to your personal collection</:subtitle>
  </.header>

  <.collection_form changeset={@changeset} book={@book} action={~p"/collections"} />

  <div class="mt-4">
    <.link navigate={~p"/collections"} class="btn btn-outline">Back to collection</.link>
  </div>
</Layouts.app>
